@page
@model OdeToFood.Blue.App.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />  
}

<a asp-page="./Edit" class="btn btn-outline-primary btn-lg mb-5">
    <i class="fa fa-plus"></i> Add Restaurant
</a>
